body {
  width: 400px;
}

summary {
  margin-top: 10px;
  margin-bottom: 10px;
}

summary h3 {
  display: inline;
}

.option {
  margin-bottom: 2px;
}

.input-keybinding {
  margin-left: auto; 
  margin-right: 0;
  width: 45%;
}

#custom-css-textarea {
  width: 100%;
  height: 400px;
}

.search-engine-checkbox {
  display: block;
}

.option-desc {
  display: inline-block;
  width: 200px;
}

#delay {
  width: 50px;
}

#status {
  font-weight: bold;
}

#save {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100px;
}

/* Firefox specific overrides */
@-moz-document url-prefix() {
  body {
    width: 600px;
    /* Without setting the margin, the Firefox options are too close to the border */
    margin-left: 10px;
  }
  /* Hide spinner in delay field */
  input[type=number] {
      -moz-appearance:textfield;
  }
  .option-desc {
    width: 280px;
  }
  #custom-css-textarea {
    width: 600px;
    height: 600px;
  }
}

