body {
  width: 400px;
}

section {
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4em;
  font-weight: 550;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  font-weight: 450;
  margin-top: 10px;
  margin-bottom: 5px;
}

summary {
  margin-top: 5px;
  margin-bottom: 5px;
}

details {
  margin-bottom: 5px;
}

summary h3,
summary h2 {
  display: inline;
}

.option {
  margin-bottom: 5px;
}

.option-desc {
  display: inline-block;
  width: 48%;
}

.input-keybinding {
  margin-left: auto;
  margin-right: 0;
  width: 48%;
}

.help {
  font-weight: 350;
}

#custom-css-textarea {
  width: 100%;
  height: 400px;
}

.search-engine-checkbox {
  display: block;
}

#delay-container {
  margin-top: 5px;
}

#delay {
  width: 75px;
  margin-right: 5px;
}

#status {
  font-weight: bold;
}

#buttons-container button {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Firefox specific overrides */
@-moz-document url-prefix("") {
  body {
    width: 600px;
    /* Without this, the Firefox options page body is close to the border */
    margin-left: 10px;
  }

  .option-desc {
    width: 280px;
  }

  #custom-css-textarea {
    width: 600px;
    height: 600px;
  }
}
