body {
  width: 400px;
}

div, summary {
  margin-bottom: 10px;
}

.input-keybinding {
  position: absolute;
  left: 220px;
  width: 100px;
}

#custom-css-textarea {
  width: 400px;
  height: 400px;
}

.option-desc {
  display: inline-block;
  width: 200px;
}

#delay {
  width: 50px;
}

#status {
  font-weight: bold;
}
