.wsn-default-focused-result::before {
    content: "\25BA";
    margin-right: 25px;
    left: -25px;
    position: absolute;
}

.wsn-google-focused-image {
    outline: 2px solid black !important;
    /* border: 5px solid green !important; */
}

.wsn-google-focused-card,
.wsn-google-focused-image,
.wsn-google-scholar-next-page,
.wsn-amazon-focused-result {
    /* NOTE: Without !important the style is overridden by Google stylesheets */
    border: 1px solid black !important;
}

.wsn-startpage-focused-result {
    border-color: #4caf50 !important;
    border-width: 2px;
    border-style: double;
    border-radius: 9px;
}

.wsn-youtube-focused-result {
    border-color: #c4302b !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

.wsn-no-outline,
.wsn-no-outline:focus {
    outline: none;
}
